* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Libre Baskerville", serif;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}
.loading {
  margin-left: 10%;
  position: absolute;
}
section,
.dashboard-user {
  width: 100%;
  color: black;
  position: absolute;
  margin-left: 10%;
}
.nav-dash-user {
  color: black;
  display: flex;
  position: absolute;
  margin-top: 2%;
  margin-bottom: 30%;
}
.nav-dash-user h1 {
  color: rgba(39, 38, 38, 0.76);
}
.age-select {
  background-color: rgba(107, 130, 145, 0.89);
  color: black;
  margin-left: 60em;
  outline: none;
  width: 8em;
  height: 3em;
  border-radius: 20px;
  text-align: center;
  padding-left: 1%;
  box-shadow: 0 5px 0 #345152;
}
.age-select:hover {
  box-shadow: 0 5px 0 #5eb5b8;
  background-color: rgba(45, 98, 133, 0.89);
}
.gender-select {
  background-color: rgb(247, 244, 244);
  color: black;
  margin-left: 1em;
  outline: none;
  width: 8em;
  height: 3em;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 0 #727272;
}
.gender-select:hover {
  background-color: rgb(158, 157, 157);
  box-shadow: 0 5px 0 #f6f8e7;
}
.show-counter-user {
  padding-top: 10%;
  display: flex;
  position: absolute;
  text-align: center;
}
.show-client {
  display: flex;
  background-color: #fdfdfd;
  color: #727272;
  text-transform: uppercase;
  width: 7em;
  height: 2.5em;
  padding: 10%;
  margin-left: 23%;
  border: 1px solid rgba(19, 19, 19, 0.103);
}
.graphic-user-api {
  width: 50%;
  margin-left: 6%;
  margin-top: 23%;
  position: absolute;
}
.user-api-table {
  margin-left: 6%;
  margin-top: 50%;
  position: absolute;
}
