* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Libre Baskerville", serif;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}
.loading {
  margin-left: 10%;
  position: absolute;
}
section,
.dashboard-user {
  width: 100%;
  color: black;
  position: absolute;
  margin-left: 15%;
}
.nav-dash-user {
  color: black;
  display: flex;
  position: absolute;
  margin-top: 2%;
  margin-bottom: 30%;
}
.nav-dash-user h1 {
  color: rgba(39, 38, 38, 0.76);
}
.age-select {
  background-color: rgba(107, 130, 145, 0.829);
  color: black;
  margin-left: 55em;
  outline: none;
  width: 8em;
  height: 3em;
  border-radius: 20px;
  text-align: center;
  padding-left: 1%;
  box-shadow: 0 5px 0 #345152;
}
.age-select:hover {
  box-shadow: 0 5px 0 #5eb5b8;
  background-color: rgba(94, 111, 122, 0.89);
}
.gender-select {
  background-color: rgb(247, 244, 244);
  color: black;
  margin-left: 1em;
  outline: none;
  width: 8em;
  height: 3em;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 0 #727272;
}
.gender-select:hover {
  background-color: rgb(158, 157, 157);
  box-shadow: 0 5px 0 #97d861;
}
.show-counter-user {
  margin-top: 10%;
  display: flex;
  position: absolute;
  text-align: center;
}
.show-client {
  display: flex;
  background-color: #fdfdfd;
  color: #727272;
  text-transform: uppercase;
  width: 6em;
  height: 1.5em;
  padding: 3em;
  margin-left: 4em;
  border: 1px solid rgba(19, 19, 19, 0.103);
}
.graphic-user-api {
  width: 70%;
  margin-left: 6%;
  margin-top: 23%;
  position: absolute;
}
.user-api-table {
  width: 75%;
  margin-left: 3%;
  margin-top: 60%;
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .age-select {
    margin-left: 27em;
  }
  .nav-dash-user {
    display: flex;
    align-items: center;
    margin-left: 0%;
  }
  .show-counter-user {
    display: flex;
    margin-left: 0%;
    margin-top: 5%;
    flex-wrap: wrap;
  }
  .show-client {
    margin-top: 10%;
    margin-left: 5%;
  }
  .graphic-user-api {
    width: 80%;
    margin-top: 29em;
    margin-left: 0%;
  }
  .user-api-table {
    width: 75%;
    margin-top: 55em;
    margin-left: 2%;
  }
}
@media screen and (max-width: 768px) {
  .age-select {
    margin-left: 10em;
  }
  .nav-dash-user {
    display: flex;
    align-items: center;
    margin-left: 10%;
  }
  .show-counter-user {
    display: flex;
    margin-left: 0%;
    margin-top: 10%;
    flex-wrap: wrap;
  }
  .show-client {
    margin-top: 10%;
  }
  .graphic-user-api {
    width: 70%;
    margin-top: 35em;
    margin-left: 5%;
  }
  .user-api-table {
    width: 75%;
    margin-top: 60em;
    margin-left: 5%;
  }
}
@media screen and (max-width: 425px) {
  .age-select {
    margin-top: 5%;
    margin-left: 0;
    margin-right: 30%;
    margin-bottom: 5%;
  }
  .gender-select {
    margin-left: 30%;
  }
  .nav-dash-user {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    align-items: center;
  }
  .show-counter-user {
    flex-direction: row;
    margin-left: 0%;
    margin-top: 30%;
    flex-wrap: wrap;
  }
  .show-client {
    margin-top: 10%;
    margin-left: 10%;
  }
  .graphic-user-api {
    width: 84%;
    margin-top: 55em;
    margin-left: 0%;
  }
  .user-api-table {
    width: 87%;
    margin-top: 69em;
    margin-left: 0%;
  }
}

@media screen and (max-width: 375px) {
  .age-select {
    margin-left: 0;
    margin-right: 10%;
    margin-bottom: 5%;
  }
  .gender-select {
    margin-left: 10%;
  }
  .nav-dash-user {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    align-items: center;
  }
  .show-counter-user {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 40%;
  }
  .show-client {
    margin-top: 15%;
    margin-left: 5%;
  }
  .graphic-user-api {
    width: 80%;
    margin-top: 50em;
    margin-left: 0%;
  }
  .user-api-table {
    width: 87%;
    margin-top: 60em;
    margin-left: 0%;
  }
}

@media screen and (max-width: 320px) {
  .age-select {
    margin-left: 0;
    margin-right: 10%;
    margin-bottom: 5%;
  }
  .gender-select {
    margin-left: 10%;
  }
  .nav-dash-user {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    align-items: center;
  }
  .show-counter-user {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 50%;
  }
  .show-client {
    margin-top: 9%;
    margin-left: 5%;
  }
  .graphic-user-api {
    width: 15em;
    margin-top: 50em;
    margin-left: 0%;
  }
  .user-api-table {
    width: 16em;
    margin-top: 60em;
    margin-left: 0%;
  }
}
